doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Boilerplate simple project.
		//- link(rel="shortcut icon", href="img/favicon.png")
		link(rel="stylesheet", href="./css/main.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		h1 Just do it.

	script(src="js/main.min.js")
